.advantages {
  @include wrapper;
}

.advantages__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  @include list-default;
  margin: 0;
}

.advantages__item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
