.advantages {
  @include wrapper;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    border: none;
  }
}

.advantages__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  color: #000000;

  @media (min-width: $tablet-width) {
    @include title-tablet;
  }
}

.advantages__list {
  @include list-default;
  counter-reset: num;
  margin: 0;
  margin-top: 40px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 177px;
    margin-top: 32px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.advantages__item {
  font-family: $additional-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  min-height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include text-tablet;
    min-height: 280px;
  }
}

.advantages__item--benefit {
  background-image: url("../img/benefit-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/benefit-icon-tablet.svg");
    background-position: 0 40px;

    &::before {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      font-size: 280px;
      color: $base-grey;
      font-family: $font-base;
      left: 118px;
      bottom: 50%;
      z-index: -1;
    }
  }
}

.advantages__item--product-type {
  background-image: url("../img/product-type-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/product-type-icon-tablet.svg");
    background-position: 0 40px;

    &::before {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      font-size: 280px;
      color: $base-grey;
      font-family: $font-base;
      left: 118px;
      bottom: 50%;
      z-index: -1;
    }
  }
}

.advantages__item--reblace {
  background-image: url("../img/reblace-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/reblace-icon-tablet.svg");
    background-position: 0 40px;

    &::before {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      font-size: 280px;
      color: $base-grey;
      font-family: $font-base;
      left: 118px;
      bottom: 50%;
      z-index: -1;
    }
  }
}

.advantages__item--result {
  background-image: url("../img/result-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/result-icon-tablet.svg");
    background-position: 0 40px;

    &::before {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      font-size: 280px;
      color: $base-grey;
      font-family: $font-base;
      left: 118px;
      bottom: 50%;
      z-index: -1;
    }
  }
}

.advantages__text {
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 151px;
  }
}
