.banner {
  @include wrapper;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 187px;
  background-color: $base-color;
  // Временный размер. Убрать после добавления фонового изображения
  height: 290px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    @include wrapper-tablet;
  }

  @media (min-width: $desktop-width) {
    width: 275px;
  }
}

.banner__text {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 161px;
  margin: 0 auto;
}
