.card {
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    background-color: $base-grey;
  }
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__item {
  font-family: $additional-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__button {
  @include button;
}
