.card {
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 28px 37px 40px 37px;
    position: relative;
    display: grid;
    align-items: end;

    &::before {
      content: "";
      background-color: $base-grey;
      width: 100%;
      height: calc(100% - 100px);
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 245px;
  }
}

.card__wrapper {
  display: grid;
  row-gap: 14px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    row-gap: 0;
    display: flex;
    flex-direction: column;
  }
}

.card__image-wrapper {
  grid-row: 1/3;
  height: 106px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 22px;
    display: grid;
    align-items: center;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.card__image {
  display: block;
  margin: 0 auto;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    align-self: center;
    width: 135px;
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.card__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    display: grid;
    gap: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.card__item {
  font-family: $additional-font;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__description {
  margin: 0;
}

.card__button {
  @include button;
  grid-column: 1/-1;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
