.card {
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 28px 37px 40px 37px;
    position: relative;

    &::before {
      content: "";
      background-color: $base-grey;
      width: 100%;
      height: calc(100% - 81px);
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
    }
  }
}

.card__wrapper {
  display: grid;
  row-gap: 14px;
  grid-template-areas:
    "img title"
    "img list"
    "btn btn";

  @media (min-width: $tablet-width) {

    row-gap: 0;
    display: flex;
    flex-direction: column;
  }
}

.card__image-wrapper {
  grid-area: img;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.card__image {
  display: block;
  margin: 0 auto;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  grid-area: title;
  width: 76px;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 135px;
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__list {
  grid-area: list;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    display: grid;
    gap: 7px;
  }
}

.card__item {
  font-family: $additional-font;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__description {
  margin: 0;
}

.card__button {
  @include button;
  grid-area: btn;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
