.contacts {
  @include wrapper;
  position: relative;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0;
  }
}

.contacts--accent {
  background-color: $base-grey;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.contacts__wrapper {
  padding: 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
    grid-template-columns: 165px 165px;
    justify-content: space-between;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    gap: 87px;
    z-index: 2;
    box-shadow: 0 0 40px 0 rgba(45, 52, 64, 0.4);
  }
}

.contacts__message {
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  font-family: $additional-font;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
