.contacts {
  @include wrapper;
  padding-top: 26px;
  // padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include wrapper-tablet;
  }

  @media (min-width: $desktop-width) {
    @include wrapper-desktop;
  }
}

.contacts__wrapper {
  padding: 61px 70px;
}

.contacts--accent {
  background-color: $base-grey;
}

.contacts__message {
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  font-family: $additional-font;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
