.copyright__link {
  @include link-default;
  text-transform: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    align-items: center;
    gap: 23px;
  }
}

.copyright__logo {
  display: block;
  color: #666666;
}

.copyright__link:hover .copyright__logo {
  color: $base-color;
}
