.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset {
  color: #444444;
  padding: 0;
  display: grid;
  gap: 14px;
  align-items: center;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset--text {
  padding-bottom: 24px;
}

.form__group {
  display: flex;
  height: 45px;
  gap: 13px;
}

.form__input {
  font-family: $font-base;
  font-size: 16px;
  justify-self: stretch;
  padding: 14px 15px 13px;
}

.form__label {
  align-self: center;
}

.form__fieldset__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__list {
  @include list-default;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 19px;
  display: grid;
  gap: 13px;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: #000000;
  margin: 0;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__button {
  @include button;
  font-family: $font-base;
}

.form__note {
  font-family: $additional-font;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  margin-top: 21px;
  margin-bottom: 6px;
}
