.index {
  border-radius: 4px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    background-image: url("/img/weight-back.svg");
    position: absolute;
    width: 124px;
    height: 56px;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    // Временная рамка, позже заменить на svg
    border: 1px solid #cdcdcd;


    &::before {
      content: none;
    }
  }
}

.index__meaning {
  font-size: 24px;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 8px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.index__description {
  font-family: $additional-font;
  font-size: 12px;
  line-height: 12px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;

    br {
      display: none;
    }
  }
}
