.main-header {
  @include wrapper;
  width: 320px;
  position: relative;
  min-height: 64px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
    padding-top: 55px;
  }
}

.main-header__logo {
  padding: 13px 0 14px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }
}

.main-header__logo img {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__toggle {
  position: relative;
  height: 38px;
  width: 25px;
  margin-right: 20px;
  overflow: hidden;
  justify-self: end;
  background-color: #ffffff;
  border: none;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--closed::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -1px;
  width: 25px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px #000000, 0 16px #000000;
}

.main-header__toggle--closed:hover::before {
  opacity: 0.8;
}

.main-header__toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 1px;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
