.main-footer {
  @include wrapper;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $base-grey;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 280px;
    background-color: $accent-grey;
    position: absolute;
    top: 84px;
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 280px;
    background-color: $accent-grey;
    position: absolute;
    top: 150px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    flex-direction: row;
    justify-content: space-between;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__logo {
  width: 128px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__logo-link {
  color: #111111;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}
