.main-nav {
  // display: none;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  background-color: #ffffff;
  grid-column: 1/-1;
}

.main-nav__list {
  @include list-default;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.main-nav__link {
  @include link-default;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: #ffffff;
  }
}
