.main-container__form {
  @include wrapper;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding: 65px 40px 60px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 74px;
    padding-bottom: 79px;
  }
}

.main-container__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 41px;
  color: #000000;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    padding-bottom: 65px;
  }
}

.main-container__form-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 37px;
  color: #000000;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
  }
}
