.main-header {
  @include wrapper;
  height: 65px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    @include wrapper-tablet;
    height: 75px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include wrapper-desktop;
    height: 114px;
  }
}

.main-header__logo {
  text-decoration: none;
  display: grid;
  align-items: center;
}

.main-header__toggle {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  justify-self: end;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
