.main-header {
  @include wrapper;
  height: 65px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.main-header__logo {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25%;
  align-items: center;
}

.main-header__toggle {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  justify-self: end;
  cursor: pointer;
}

.main-header__toggle span {
  width: 24px;
  height: 2px;
  position: absolute;
  top: 50%;
  background-color: #000000;
}

.main-header__toggle span:nth-of-type(2) {
  top: calc(50% - 8px);
}

.main-header__toggle span:nth-of-type(3) {
  top: calc(50% + 8px);
}
