.map {
  padding: 0;
  position: relative;
  width: 100vw;
  left: calc(50% - 50vw);

  @media (min-width: $tablet-width) {
    height: 400px;
    // overflow: hidden;
  }
}

.map__iframe {
  // transform: translateX(-20px);
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
    transform: translateX(0);
  }

  @media (min-width: $desktop-width) {
    image-orientation: revert;
  }
}
