.mini-card {
  padding: 13px 0 19px;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 325px 1fr 244px;
    padding: 15px 0 17px;
    align-items: center;
  }
}

.mini-card__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.mini-card__list {
  font-family: $additional-font;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
    margin: 0;
    align-self: center;
  }
}

.mini-card__item {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr 93px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 243px 1fr;
    justify-items: start;
    align-self: center;
  }
}

.mini-card__description {
  margin: 0;
}

.mini-card__button {
  @include button;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: -2/-1;
  }
}
