.selection-form {
  display: grid;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.selection-form__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 66px;
  }
}
