.selection-product {
  @include wrapper;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 302px;
    background-color: $base-color;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      background-color: $base-color;
      background-image: url("../img/bg-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 1041px auto;
      background-position: right -321px top;
      width: 720px;
      height: 694px;
      right: 0;
      top: -114px;
    }
  }
}

.selection-product__header {
  width: 280px;
  transform: translateX(-20px);
  background-image: url("../img/bg-cat.jpg");
  background-repeat: no-repeat;
  margin-bottom: 3px;
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-cat@2x.jpg");
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    background-image: none;
    width: 709px;
    padding-top: 65px;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(255, 255, 255, 0);
    width: 1220px;
    padding-top: 110px;
    min-height: 551px;
    text-align: left;
    position: relative;
    grid-template-rows: auto auto 1fr;
  }
}

.selection-product__title {
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    margin-bottom: 40px;
    text-align: left;
    width: 420px;
    padding-left: 90px;
  }
}

.selection-product__slogan {
  margin: 0;
  margin-bottom: 29px;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.selection-product__image-wrapper {
  @media (min-width: $tablet-width) {
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 241px;
    bottom: 145px;
  }
}

.selection-product__image {
  display: block;
}

.selection-product__button {
  @include button;

  @media (min-width: $tablet-width) {
    @include button-tablet;
    position: absolute;
    left: 110px;
    top: 295px;
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 90px;
    align-self: start;
  }
}

.selection-product__list {
  @include list-default;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin-top: 0;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-top: 82px;
    margin-bottom: 71px;
  }
}

.selection-product__item {
  background-color: $base-grey;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: $base-color;
    position: absolute;
    z-index: -1;
    left: 21px;
    top: 24px;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 200px;
      height: 200px;
      left: 445px;
      top: 92px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 100px;
      height: 100px;
      left: 52px;
      top: 47px;
    }
  }
}

.selection-product__item-title {
  text-transform: uppercase;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  padding-top: 6px;
  padding-left: 70px;
  padding-bottom: 29px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 24px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    padding-bottom: 73px;
  }
}

.selection-product__item-wrapper {
  padding: 24px 20px 18px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 52px;
    padding-bottom: 59px;
  }
}

.selection-product__item-wrapper--slim {
  background-image: url("../img/sprite.svg#cat-slim-back");
  background-position: 20px 21px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/sprite.svg#cat-slim-back-tablet");
    background-position: 445px 81px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/sprite.svg#cat-slim-back-desktop");
    background-position: 52px 41px;
  }
}

.selection-product__item-wrapper--pro {
  background-image: url("../img/sprite.svg#cat-pro-back");
  background-repeat: no-repeat;
  background-position: 13px 24px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/sprite.svg#cat-pro-back-tablet");
    background-repeat: repeat;
    background-position: 411px 92px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/sprite.svg#cat-pro-back-desktop");
    background-position: 33px 47px;
  }
}

.selection-product__item-description {
  font-family: $additional-font;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  margin: 0;
  padding-right: 13px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d0d0d0;

  @media (min-width: $tablet-width) {
    @include text-tablet;
    padding-bottom: 52px;
    width: 340px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}

.selection-product__item-link {
  @include link-default;
  line-height: 16px;
  color: #000000;
  margin-top: 15px;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    mask-image: url("../img/sprite.svg#arrow-right");
    background-color: #000000;
    width: 32px;
    height: 12px;
    right: -47px;
    top: 2px;
    position: absolute;
  }

  &:hover {
    &::after {
      mask-image: url("../img/sprite.svg#arrow-long");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;

    &::after {
      right: -57px;
      top: 9px;
    }
  }
}
