.show-more {
  @media (min-width: $tablet-width) {
    border: 2px solid $base-grey;
  }
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.show-more__text {
  font-family: $additional-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  @include button;
}
