.show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.show-more__text {
  font-family: "Lato", sans-serif;
  font-style: 12px;
  line-height: 16px;
  color: #444444;
}

.show-more__button {
  @include button;
}
