@mixin wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin wrapper-tablet {
  width: 708px;
  margin: 0 auto;
  padding: 0 30px;
}

@mixin wrapper-desktop {
  width: 1220px;
  margin: 0 auto;
  padding: 0 110px;
}

@mixin list-default {
  list-style: none;
  padding: 0;
}

@mixin link-default {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

@mixin button {
  display: block;
  padding: 10px 44px;

  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $base-color;
  color: #ffffff;
  border: none;
}

@mixin button-tablet {
  font-size: 20px;
  line-height: 26px;
}

@mixin title-tablet {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: #000000;
}

@mixin text-tablet {
  font-size: 16px;
  line-height: 24px;
}
