// Базовые свойства
@import "global/fonts";
@import "global/utils";


// Переменные, миксины
@import "global/mixins";
@import "global/variables";


// Блоки компонентов
// Общие
@import "blocks/page";
@import "blocks/main-header";
// @import "blocks/logo-text";
@import "blocks/main-nav";
@import "blocks/main-container";
// @import "blocks/button";
@import "blocks/contacts";
// Футер
@import "blocks/main-footer";
@import "blocks/map";
@import "blocks/social";
@import "blocks/copyright";


// Главная
@import "blocks/selection-product";
@import "blocks/advantages";
@import "blocks/example";
@import "blocks/index";


// Каталог
@import "blocks/catalog";
@import "blocks/card";
@import "blocks/show-more";
@import "blocks/additional-product";
@import "blocks/mini-card";
@import "blocks/banner";

// Форма
@import "blocks/form";
@import "blocks/selection-form";
@import "blocks/radio";
@import "blocks/input";
@import "blocks/checkbox";
